<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Training Web Page</title>
  </head>
  <body>
    <h1>We'll be Right back!</h1>
    <p>The Site is currently being updated.</p>
  </body>
</html>